@import 'settings';
@import 'animation';

body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-color: $backgroundColor;
    color: $primary-color;
}

::-webkit-scrollbar{
    display: none;
}

.container{
    height: 100vh;
}

.title{
    font-family: squid-game, sans-serif;
    text-shadow: 4px 4px 10px #000000;
    z-index:3;
    span{
        font-size: 10vw;
        color: $rose;
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
<<<<<<< HEAD
    background: linear-gradient(to right, #000000aa, transparent, transparent);
=======
    background: linear-gradient(to right, black, transparent);
>>>>>>> 9484851936b71cbb5fa1cf29f7b5e35fa48c3f71
}

.button-box{
    i{
        font-size: 19vw;
        color: #1e1e22;
        transition: ease-in .3s;
        @include neomorphism;

        &:active{
            transform: scale(.95);
        }
    }
    .btn-enter:hover{
        color: $light-blue;
        text-shadow: 0px 0px 10px $light-blue;
    }

    .btn-leave:hover{
        color: $rose;
        text-shadow: 0px 0px 10px $rose;
    }
}

// Leave Section
.leave-section{
    width: 100%;
    height: 100vh;
    z-index: 1000;

    #visitorAmount{
        color: $light-blue;
    }

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: $rose;
        clip-path: polygon(76% 0, 100% 0, 100% 100%, 38% 100%);
    }
}

// Home Section

#home{
    background: url(../assets/doll.png) no-repeat center;
    background-size: cover;
}

.logo{
    width: 20px;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 30px;
    transition: all .5s ease-in-out;
}

.menu-btn_bar{
    width: 30px;
    height: 3px;
    background: $primary-color;
    border-radius: 5px;
    transition: all .5s linear;

    &::before, &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: $primary-color;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    &::before{
        transform: translateY(-8px);
    }

    &::after{
        transform: translateY(8px);
    }
}

.menu-btn.open .menu-btn_bar{
    transform: translateX(-50px);
    background: transparent;

    &::before{
        transform:  rotate(45deg) translate(35px, -35px);
    }
    &::after{
        transform:  rotate(-45deg) translate(35px, 35px);
    }
}

.navbar{
    z-index: 4;
    left: 0;
}

.menu-wrapper{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #0b0b0b86;
    backdrop-filter: blur(10px);
    transition: 1s;
    z-index: -1;
    overflow-y: hidden;

    li{
        padding: 10px;
    }
}

.title-box{
    z-index: 3;
    h1{
<<<<<<< HEAD
        font-size: 3.5rem;
=======
>>>>>>> 9484851936b71cbb5fa1cf29f7b5e35fa48c3f71
        color: $rose;
    }
}

.nav-link{
    position: relative;
    font-family: 'squid-game', sans-serif;
    letter-spacing: 5px;
    color: white;

    &:hover{
        color: white;
<<<<<<< HEAD
=======
    }

    &:hover::after{
        width: 100%;
>>>>>>> 9484851936b71cbb5fa1cf29f7b5e35fa48c3f71
    }

    &:hover::after{
        width: 100%;
    }
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -1px;
    background: linear-gradient(to right, $light-blue, $rose 80%);
    transition: .2s ease-in;
}

<<<<<<< HEAD
=======
.nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -1px;
    background: linear-gradient(to right, $light-blue, $rose 80%);
    transition: .2s ease-in;
}

>>>>>>> 9484851936b71cbb5fa1cf29f7b5e35fa48c3f71



@media screen and (min-width:992px) {
    .button-box{
        i{
            font-size: 12vw;
        } 
    }

    .menu-wrapper{
        background-color: transparent;
        backdrop-filter: blur(0);
        transition: initial;
        overflow-y: visible;
    }

    .menu-btn{
        display: none;
    }

<<<<<<< HEAD
    .title-box{
        h1{
            font-size: 7rem;
            color: $rose;
        }
    }

}

// Main

main{
    section{
        padding-top: 5rem;
        h1{
            font-size: 2.5rem;
            color: $rose;
        }
        p{
            text-align: justify;
            padding-bottom: 1rem;
        }
    }
}


.images{
    img{
        margin-top: -1rem;
        width: 22vw;
        z-index: 0;
    }
=======
>>>>>>> 9484851936b71cbb5fa1cf29f7b5e35fa48c3f71
}