$primary-color: #fff;
$backgroundColor: #0B0B0B;
$rose: #FF2F5D;
$light-blue: #00FFF0;
$gold-color: #F7E373;

@font-face {
    font-family: squid-game;
    src: url(../fonts/GameOfSquids.ttf);
}

@mixin neomorphism {
    text-shadow: -4px -4px 10px #ffffff18,
                4px 4px 10px #000000;
} 

@media screen and (min-width:992px) {
    .button-box{
        i{
            font-size: 9rem;
        }
    }
}
