.shape{
    color: #F7E373;
    text-shadow: 0px 0px 10px #F7E373;
    animation: roll 7s linear infinite;
}

@keyframes roll {
    0%{
        transform: scale(0) translateY(0%) rotate(0deg);
        opacity: 0;
    }
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{transform: scale(2) translateY(-500%) rotate(360deg);}
}

.fadeOut{
    opacity: 0;
    transition: opacity 3s linear;
}

.title-wrapper{
    transform: translateY(0px);
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-30px);}
    100%{transform: translateY(0px);}
}

.shapeWrapper{
    .fa-circle{animation: greenColor 4s ease-in-out infinite;}
    .bi-triangle-fill{animation: redColor 4s ease-in-out infinite}
    .fa-star{animation: yellowColor 4s ease-in-out infinite;}
    .fa-umbrella{animation: blueColor 4s ease-in-out infinite;}
}

@keyframes greenColor {
    20%{color: #28dd34; text-shadow:  0px 0px 10px #02ff13}  
}
@keyframes redColor {
    40%{color: #fb004b; text-shadow:  0px 0px 10px #ff2d6c}
}
@keyframes yellowColor {
    60%{color: #ffc400; text-shadow:  0px 0px 10px #fbff00}
}
@keyframes blueColor {
    80%{color: #0073ff; text-shadow:  0px 0px 10px #0073ff}
    
}

//Scroll animation

[data-scrollAnimation]{
    opacity: 0;
    transition:.3s;
}

[data-scrollAnimation="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-scrollAnimation="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-scrollAnimation].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}