@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Ubuntu:wght@300;500&display=swap');

$primary-color: #FF2F5D;
$secondary-color: #00FFF0;
$backgroundColor: rgb(11, 11, 11);
$gold-color: #F7E373;
$text-color: #fff;

body{
    background-color: $backgroundColor;
    color: $text-color;
    font-family: 'Ubuntu', sans-serif;
}

p{
    padding: 10px 0px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5rem;

    &:first-child:first-letter{
        font-size: 7rem;
        font-weight: 500;
        float: left;
        padding:10px 10px 10px 0px;
        line-height: .6;
    }
}

.emphasised-text{
    font-family: 'squid-game', sans-serif;
    text-shadow: 4px 4px 10px #000000;
    letter-spacing: 4px;

    span{
        font-size: 10vw;
        color: $primary-color;
    }
}

section{
    padding: 2rem 0px;
}

footer{
    background-color: rgb(34, 34, 34);
}

::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: squid-game;
    src: url(../fonts/GameOfSquids.ttf);
}

@mixin dFlex($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin transitionEase {
    transition: all .5s linear;
}

@mixin overlay($gradient-position) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($gradient-position, #0B0B0B 0%, rgba(9, 9, 9, 0.96) 16.81%, rgba(7, 7, 7, 0.82) 27.13%, rgba(0, 0, 0, 0.59) 35.53%, rgba(0, 0, 0, 0.06) 46.09%),
}

