#home{
    background: url(../dist/assets/doll.png) no-repeat center top;
    background-size: cover;
    @include dFlex(flex-end,flex-start);
}

.overlay{
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #000000e1, transparent 30%, transparent);
}

.logo{
    width: 20px
}

nav{
    z-index: 4;
}

.title-box{
    padding-bottom: 5rem;
    z-index: 3;
}

::-webkit-scrollbar{
    display: none;
}

// Creation Section

article{
    text-align: justify;
}
.shapeWrapper{
    position: relative;
    img{
        width: 24vw;
    }
}
