//Home Section
#home{
    background: url(../dist/assets/doll.png) no-repeat center;
    background-size: cover;
}

.home__content{
    width: 100%;
    height: 100vh;
    @include dFlex(flex-end,flex-start);
    @include overlay(to top);
}

.logo{
    width: 20px
}

nav{
    z-index: 4;
}

.title-box{
    padding: 0rem 0rem 3rem 1.8rem;
    z-index: 3;
}

::-webkit-scrollbar{
    display: none;
}

//synopsis Section
#synopsis{
    .game-proposal-img{
        position: relative;
        .overlay{
            @include overlay(to right)
        }
    }

    .card-img{
        position: relative;
        .overlay{
            @include overlay(to left)
        }
    }
}

// Creation Section
.shapeWrapper{
    position: relative;
    i{
        font-size: 20vw;
    }
}

#creation{
    .article-wrapper{
        .content-second{
            margin-top: 6rem;
        }
    }
}

//games

.red-light-green-light, .squid-game{
    height:100%;
    object-fit: cover;
}

.image-wrapper{
    position: relative;
    cursor: pointer;
    padding: 6px;
    overflow: hidden;

    &:hover .mosaico-text-overlay{
        height: 100%;
    }

    .mosaico-text-overlay{  
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0px 20px;
        background-color: #fd4400ba;
        transition: .5s ease;
        overflow-y: scroll;

        h4{
            margin-top: 10px;
            text-transform: uppercase;
        }
    }
}

