.intro-section{
    @include dFlex(center,center);
    overflow: hidden;
}

#carouselBg{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;

    img{
        width: 100%;
        height: 60vh;
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
    }
}

.btn{
    font-size: 20vw;
    color: #1e1e22;
    transition: ease-in .3s;
    text-shadow: -4px -4px 10px #ffffff18,
                4px 4px 10px #000000;

    &:active{
        transform: scale(.95);
    }

    &__enter:hover{
        color: $secondary-color;
        text-shadow: 0px 0px 10px $secondary-color;
    }

    &__leave:hover{
        color: $primary-color;
        text-shadow: 0px 0px 10px $primary-color;
    }
}

