@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Ubuntu:wght@500&display=swap");
body {
  background-color: #0b0b0b;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

p {
  padding: 10px 0px;
  line-height: 1.5rem;
}

p:first-child:first-letter {
  font-size: 7rem;
  float: left;
  padding: 10px 10px 10px 0px;
  line-height: .6;
}

.emphasised-text {
  font-family: 'squid-game', sans-serif;
  text-shadow: 4px 4px 10px #000000;
  letter-spacing: 4px;
}

.emphasised-text span {
  font-size: 10vw;
  color: #FF2F5D;
}

section {
  padding: 2rem 0px;
}

@font-face {
  font-family: squid-game;
  src: url(../fonts/GameOfSquids.ttf);
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carouselBg {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

#carouselBg img {
  width: 100%;
  height: 60vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
          clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

.btn {
  font-size: 20vw;
  color: #1e1e22;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
  text-shadow: -4px -4px 10px #ffffff18, 4px 4px 10px #000000;
}

.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn__enter:hover {
  color: #00FFF0;
  text-shadow: 0px 0px 10px #00FFF0;
}

.btn__leave:hover {
  color: #FF2F5D;
  text-shadow: 0px 0px 10px #FF2F5D;
}

#home {
  background: url(../dist/assets/doll.png) no-repeat center;
  background-size: cover;
}

.home__content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#0B0B0B), color-stop(16.81%, rgba(9, 9, 9, 0.96)), color-stop(27.13%, rgba(7, 7, 7, 0.82)), color-stop(35.53%, rgba(0, 0, 0, 0.59)), color-stop(46.09%, rgba(0, 0, 0, 0.06)));
  background: linear-gradient(to top, #0B0B0B 0%, rgba(9, 9, 9, 0.96) 16.81%, rgba(7, 7, 7, 0.82) 27.13%, rgba(0, 0, 0, 0.59) 35.53%, rgba(0, 0, 0, 0.06) 46.09%);
}

.logo {
  width: 20px;
}

nav {
  z-index: 4;
}

.title-box {
  padding: 0rem 0rem 3rem 1.8rem;
  z-index: 3;
}

::-webkit-scrollbar {
  display: none;
}

#synopsis .game-proposal-img {
  position: relative;
}

#synopsis .game-proposal-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0B0B0B), color-stop(16.81%, rgba(9, 9, 9, 0.96)), color-stop(27.13%, rgba(7, 7, 7, 0.82)), color-stop(35.53%, rgba(0, 0, 0, 0.59)), color-stop(46.09%, rgba(0, 0, 0, 0.06)));
  background: linear-gradient(to right, #0B0B0B 0%, rgba(9, 9, 9, 0.96) 16.81%, rgba(7, 7, 7, 0.82) 27.13%, rgba(0, 0, 0, 0.59) 35.53%, rgba(0, 0, 0, 0.06) 46.09%);
}

#synopsis .card-img {
  position: relative;
}

#synopsis .card-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#0B0B0B), color-stop(16.81%, rgba(9, 9, 9, 0.96)), color-stop(27.13%, rgba(7, 7, 7, 0.82)), color-stop(35.53%, rgba(0, 0, 0, 0.59)), color-stop(46.09%, rgba(0, 0, 0, 0.06)));
  background: linear-gradient(to left, #0B0B0B 0%, rgba(9, 9, 9, 0.96) 16.81%, rgba(7, 7, 7, 0.82) 27.13%, rgba(0, 0, 0, 0.59) 35.53%, rgba(0, 0, 0, 0.06) 46.09%);
}

.shapeWrapper {
  position: relative;
}

.shapeWrapper i {
  font-size: 20vw;
}

#creation .article-wrapper .content-second {
  margin-top: 6rem;
}

#games img {
  -webkit-box-shadow: 0px 6px 10px black;
          box-shadow: 0px 6px 10px black;
  border-radius: 5px;
  overflow: hidden;
}

#games .red-light-green-light, #games .squid-game {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-wrapper {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.image-wrapper:hover .mosaico-text-overlay {
  height: 100%;
}

.image-wrapper .mosaico-text-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  height: 0;
  bottom: 0;
  background-color: #fd4400ba;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.image-wrapper .mosaico-text-overlay h4 {
  text-transform: uppercase;
}

.leave-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leave-section .logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  width: 30px;
}

.leave-section .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.leave-section #visitorAmount {
  color: #00FFF0;
}

.leave-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #FF2F5D;
  -webkit-clip-path: polygon(76% 0, 100% 0, 100% 100%, 38% 100%);
          clip-path: polygon(76% 0, 100% 0, 100% 100%, 38% 100%);
}

.menu-btn {
  width: 55px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  text-transform: uppercase;
  background-color: #272727;
  opacity: 0.98;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  z-index: -1;
}

.menu-wrapper a {
  font-family: 'squid-game', sans-serif;
  letter-spacing: 5px;
  color: #fff;
  margin: 10px;
}

.menu-wrapper a:hover {
  color: #ff652f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

@media screen and (min-width: 992px) {
  #button-box .btn {
    font-size: 8rem;
  }
  nav {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #272727), color-stop(#272727ad), to(transparent));
    background: linear-gradient(to bottom, #272727 50%, #272727ad, transparent);
  }
  .menu-wrapper {
    position: relative;
    height: 100%;
    background-color: transparent;
    opacity: 1;
  }
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .title-box span {
    font-size: 3rem;
  }
}

.shape {
  color: #F7E373;
  text-shadow: 0px 0px 10px #F7E373;
  -webkit-animation: roll 7s linear infinite;
          animation: roll 7s linear infinite;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: scale(0) translateY(0%) rotate(0deg);
            transform: scale(0) translateY(0%) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2) translateY(-500%) rotate(360deg);
            transform: scale(2) translateY(-500%) rotate(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: scale(0) translateY(0%) rotate(0deg);
            transform: scale(0) translateY(0%) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2) translateY(-500%) rotate(360deg);
            transform: scale(2) translateY(-500%) rotate(360deg);
  }
}

.fadeOut {
  opacity: 0;
  -webkit-transition: opacity 3s linear;
  transition: opacity 3s linear;
}

.title-wrapper {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: floating 3s ease-in-out infinite;
          animation: floating 3s ease-in-out infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.shapeWrapper .fa-circle {
  -webkit-animation: greenColor 4s ease-in-out infinite;
          animation: greenColor 4s ease-in-out infinite;
}

.shapeWrapper .bi-triangle-fill {
  -webkit-animation: redColor 4s ease-in-out infinite;
          animation: redColor 4s ease-in-out infinite;
}

.shapeWrapper .fa-star {
  -webkit-animation: yellowColor 4s ease-in-out infinite;
          animation: yellowColor 4s ease-in-out infinite;
}

.shapeWrapper .fa-umbrella {
  -webkit-animation: blueColor 4s ease-in-out infinite;
          animation: blueColor 4s ease-in-out infinite;
}

@-webkit-keyframes greenColor {
  20% {
    color: #28dd34;
    text-shadow: 0px 0px 10px #02ff13;
  }
}

@keyframes greenColor {
  20% {
    color: #28dd34;
    text-shadow: 0px 0px 10px #02ff13;
  }
}

@-webkit-keyframes redColor {
  40% {
    color: #fb004b;
    text-shadow: 0px 0px 10px #ff2d6c;
  }
}

@keyframes redColor {
  40% {
    color: #fb004b;
    text-shadow: 0px 0px 10px #ff2d6c;
  }
}

@-webkit-keyframes yellowColor {
  60% {
    color: #ffc400;
    text-shadow: 0px 0px 10px #fbff00;
  }
}

@keyframes yellowColor {
  60% {
    color: #ffc400;
    text-shadow: 0px 0px 10px #fbff00;
  }
}

@-webkit-keyframes blueColor {
  80% {
    color: #0073ff;
    text-shadow: 0px 0px 10px #0073ff;
  }
}

@keyframes blueColor {
  80% {
    color: #0073ff;
    text-shadow: 0px 0px 10px #0073ff;
  }
}
/*# sourceMappingURL=main.css.map */